body{
  margin: 0;
  background-image:url(./img/conquete\ wallpaper.jfif);
  background-position: center;
}


nav{
  border:1px solid #86476e89;
  background-color: rgba(134, 70, 109, 0.671);
  display: flex;
}

nav p{
  color: #ffffff;
  font-family: 'Dancing Script';
  font-size: 20px;
  margin-left:20px;
}

nav img{
  width: 120px;
  display: flex;
  position: relative;
  left: 75%;
}

article {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
   }
 
   .container {
     width: 100%;
     max-width: 800px;
     margin: 0 auto;
   }
 
   .champs {
     display:flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
   }
   
   h1 {
      margin-bottom: 20px;
      color: #86476e;
      background-color: #eadde574;
   }
   
   input[type="text"],
   input[type="date"]{
     width: 250px;
     padding: 10px;
     border: none;
     border-radius: 5px;
     margin-bottom: 10px;
     height: 50px;
     margin-left: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   input[type="date"]{
     width: 100px;
   }

   #status{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 70px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
   button {
     background-color: transparent;
     border: none;
     cursor: pointer;
     margin-left: 5px;
   }
   
   ul {
     width: 100%;
     list-style: none;
     padding: 0;
   }
   
   li {
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     background-color: #fff;
     margin-left: 50px;
     padding: 10px;
     border-radius: 5px;
     margin-bottom: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
   ion-icon {
     font-size: 20px;
     margin-right: 5px;
     background: #b484a2;
     padding: 8px;
     color: #ffffff;
     border-radius: 50%;
   }


